.loading-template {
    text-align:center;
    font-size:26px;
    position:absolute;
    top:100px;
    width:100%;
    text-shadow:1px 1px 2px white, -1px -1px 2px white,-4px 4px 4px white,-4px 4px 4px white
}

.container {
    max-width: 30em !important;
    margin: 1em auto;
}