<h3>Add Events</h3>

  <form ng-submit = "submit()">
    <br>
    <p>
    <strong>Title: </strong>
      <input type = "text" ng-model = "formFields.title">
    </p>
    <p>
    <strong>Short Title: </strong>
      <input type = "text" ng-model = "formFields.shortTitle">
    </p>
    <p>
    <strong>Description: </strong>
      <input type = "text" ng-model = "formFields.description">
    </p>
    <p>
    <strong>Details: </strong>
      <input type = "text" ng-model = "formFields.details">
    </p>
    <p>
    <strong>Start Time: </strong>
      <input type = "date" ng-model = "formFields.startTime">
    </p>
    <p>
    <strong>End Time: </strong>
      <input type = "date" ng-model = "formFields.endTime">
    </p>
    <input type = "submit">

  </form>
