<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <h2>Eboard</h2>
    <section ng-repeat="team in teams" ng-if="team.members.length > 0">
        <h3>{{team.name}}</h3>
        <table>
            <tr ng-repeat="member in team.members | orderBy:'-isLead'">
                <th></th>
                <td ng-if="member">
                    <img ng-if="member.imgUrl" width="200px" height="200px" src="{{member.imgUrl}}">
                    <p ng-if="member.isLead === true"><b><a href="http://intranet.sexy/#/r/people/list/{{member.apiId}}">{{member.name}}</a></b></p>
                    <p ng-if="member.isLead === false"><a href="http://intranet.sexy/#/r/people/list/{{member.apiId}}">{{member.name}}</a></p>
                </td>
            </tr>
        </table>
        </br>
    </section>
</div>