<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <h2>Eboard</h2>
    <section ng-repeat="team in teams" ng-if="team.members.length > 0">
        <h3>{{team.name}}</h3>
        <table>
            <tr ng-repeat="member in team.members">
                <th></th>
                <td ng-if="member.isLead === true"><b>{{member.name}}</b></td>
                <td ng-if="member.isLead === false">{{member.name}}</td>
            </tr>
        </table>
        </br>
    </section>
</div>