<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <h3>Initiatives</h3>
    <table ng-repeat="team in teams">
        <tr ng-if="team.attributes.hostsEvents === true">
            <th></th>
            <td><a ui-sref="initiative-analytics({id: team.id})">{{team.attributes.name}}</a></td>
        </tr>
    </table>
    </br>
    <h3>Future Events</h3>
    <table>
        <tr ng-repeat="event in events" ng-if="compareDates(event, false) && event.attributes.isInternal === false">
            <th></th>
            <td><a ui-sref="event-analytics({id: event.id})">{{event.attributes.title}}</a></td>
        </tr>
    </table>
    <br>
    <h3>Past Events</h3>
    <table>
        <tr ng-repeat="event in events" ng-if="compareDates(event, true) && event.attributes.isInternal === false">
            <th></th>
            <td><a ui-sref="event-analytics({id: event.id})">{{event.attributes.title}}</a></td>
        </tr>
    </table>
    </br>
</div>
