<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <p>How well did we do in Fall 2015?</p>
    <p ng-if="checkinsAnalytics">Number of non-eboard members with multiple checkins in Fall 2015: {{checkinsAnalytics.general - checkinsAnalytics.eboard}}</p>
    <p ng-if="checkinsAnalytics">Number of e-board members with multiple checkins in Fall 2015: {{checkinsAnalytics.eboard}}</p>
    <section>
        <highchart id="chart1" config="HCEventsWithCheckins"></highchart>
        <p>Total events in our API this semester: {{totalEvents}}</p>
        <p>On average people rated our events: 4.5/6.0</p>
        <highchart id="chart2" config="HCCheckins"></highchart>
        <p>Total RSVPs in our API this semester: {{totalRSVPs}}</p>
        <p>Total checkins in our API this semester: {{totalCheckins}}</p>
        <p>Number of unique checkins this semester: {{uniqueCheckins}}</p>
        <p>Rough RSVPs per event: {{totalRSVPs/totalEvents}}</p>
        <p>Rough checkins per event: {{totalCheckins/totalEvents}}</p>
        <highchart id="chart3" config="HCGender"></highchart>
        <p>Total male checkins: {{totalMaleCheckins}}</p>
        <p>Total female checkins: {{totalFemaleCheckins}}</p>
        <highchart id="chart4" config="HCNewPeople"></highchart>
        <p>Total new people who registered in our API this semester: {{newPeople}}</p>
    </section>
    </br>
</div>