<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="eboard == false">
        <h2>You're not on the e-board :(</h2>
        <p>Come to our <a href="http://cal.techatnyu.org/">events</a>!</p>
    </div>
    <div ng-if="eboard == true">
        <section id="eboard">
            <section>
                <h3>Analytics & Internal</h3>
                <table>
                    <tr>
                        <th><a ui-sref="events-analytics">Events</a></th>
                        <td>&nbsp; Analytics on our events</td>
                    </tr>
                    <tr>
                        <th>Budget</a></th>
                        <td>&nbsp; Analytics on our budget</td>
                    </tr>
                    <tr>
                        <th><a ui-sref="eboard">E-board</a></th>
                        <td>&nbsp; Organization Chart</td>
                    </tr>
                    <tr>
                        <th><a ui-sref="relations">Relations</a></th>
                        <td>&nbsp; Our alumni and relationships</td>
                    </tr>
                    <tr>
                        <th><a ui-sref="diversity">Diversity</a></th>
                        <td>&nbsp; How diverse we and our attendees are</td>
                    </tr>
                    <tr>
                        <th><a ui-sref="progress">Progress</a></th>
                        <td>&nbsp; How well are we doing month on month?</td>
                    </tr>
                </table>
                </br>
            </section>
            <section id="lookback">
                <h3>Semester lookbacks</h3>
                <table>
                    <tr>
                        <th><a ui-sref="fall-2015">F2015</a></th>
                        <td>&nbsp; Fall 2015 semester lookback</td>
                    </tr>
                </table>
                </br>
            </section>
            <section ng-repeat="singlePlatform in platforms | unique: 'for'">
                <h3>{{singlePlatform.for}}</h3>
                <table>
                    <tr ng-repeat="platform in platforms | filterBy: ['for']: singlePlatform.for">
                        <th style="padding-right: 10px;"><a href="{{platform.url}}">{{platform.name}}</a></th>
                        <td>{{platform.description}}</td>
                    </tr>
                </table>
                </br>
            </section>
        </section>
    </div>
</div>